*{
    margin: 0;
    font-family: arial;
    box-sizing: border-box;
}

.navbar
{
    height: 60px;
    background-color: #151d28;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo
{
    background-image: url(amazon-rebrand-2025_dezeen_2364_col_1-1.jpg);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 1.5px solid;
}

/* box 2 */

.address-one{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
    /* margin-top: 3px; */
}

.address-two{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/* box 3 */

.nav-search{
    display: flex;
    width: 900px;
    height: 40px;
    justify-content: space-evenly;
    border-radius: 5px;
}

.nav-search:hover{
    border: 2px solid;
    color: #febd69;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
    color: black;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    border: 2px;
    height: 36.8px;
    width: 45px;
    background-color: #febd69;
    align-items: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    color: #151d28;
}

/* box 4 */

.flag{
    border: 2px;
    height: 50px;
    width: 65px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

/* box 5 */

.nav-signin{
    border: 2px;
    width: 142px;
    height: 50px;
}

.nav-acc{
    display: flex;
    justify-content: flex-end;
}

span{
    font-size: 0.7rem;
    padding-left: 10px;
}

.b5-b6text{
    font-size: 0.85rem;
    font-weight: 700;
}

select{
    background-color: transparent;
    color: whitesmoke;
    border: none;
}

/* box 6 */
.nav-return{
    border: 2px;
    height: 50px;
    font-size: 0.7rem;
}

/* box 7 */
.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
    height: 50px;
    width: 85px;
    display: flex;
    align-items: center;
    text-align: center;
}
/* nav end */

/* pannel start */
.pannel{
    background-color: #071c35;
    border: 2px;
    height: 40px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.display{
    align-items: center;
    display: flex;
    height: 39px;
    justify-content: center;
}

.pannel-menu{
    
    height: 38px;
    width: 59px;
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 500;
    justify-content: center;
}

.pannel-deals{
    width: 110px;
    height: 39px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.pannel-prime{
    width: 100px;
    height: 39px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.pannel-reg{width: 75px;}

.pannel-gifts{width: 85px}

.pannel-service{width: 150px}

.pannel-sell{width: 45px}

.empty{
    width: 710px;
    height: 39px;
}

.electronics{
    width: 200px;
}

/* hero section  */
.hero-section{
    background-image: url(heroScetionImg.jpg);
    height: 300px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    width: 95%;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    margin-bottom: 30px;
}

/* shop section  */
.shop-section{
    width: 100%;
    height: 900px;
    background-color: #e3e6e6;
}

.shop-boxes{
    display: grid;
    grid-template-columns: repeat(4, 350px);
    column-gap: 15px;
    row-gap: 15px;
    padding-left: 35px;
    padding-top: 10px;
}

.shop-box{
    background-color: whitesmoke;
    height: 420px;
    padding-top: 20px;
    padding-left: 25px;
}

.game-box{
    width:300px;
    height: 300px;
    background-image: url(Fuji_Gaming_store_Dashboard_card_1x_EN._SY304_CB564799420_.jpg);
}

.see-more{
    margin-top: 20px;
    font-size: medium;
}

.see-more a{
    font-size: medium;
    color: #2162a1;
    text-decoration: none;
}

.see-more-2{
    margin-top: 10px;
    font-size: medium;
}

.see-more-2 a{
    font-size: medium;
    color: #2162a1;
    text-decoration: none;
}

.box-container{
    width: 300px;
    height: 300px;
    margin-top: 15px;
}

.box-container-grid{
    display: grid;
    grid-template-columns: repeat(2, 120px);
    column-gap: 10px;
    row-gap: 50px;
    padding-top: 15px;
    padding-left: 25px;
}

.grid-box{
    height: 100px;
}

.grid-box img{
    width: 120px;
    height: 100px;
}

.grid-box:hover{
    cursor: pointer;
    transform: scale(1.05);
}

/* footer   */

.footer{
    width: 100%;
    height: 400px;
    background-color: #37475a;
}

.footer-top{
    color: white;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-top:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-bottom{
    width: 100%;
    height: 340px;
    color: white;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    padding-top: 50px;
}

.footer-bottom ul{
    padding-inline-start: 0;
}

.footer-bottom li{
    list-style: none;
    padding-top: 10px;
}

.footer-bottom a{
    color: #dddddd;
    text-decoration: none;
    cursor: pointer;
}

.footer-bottom a:hover{
    text-decoration: underline;
}